@import "leaflet/dist/leaflet.css";

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.actions-panel {
  background: none;
  border-bottom: 0;
}

.actions-panel li {
  background: #fff !important;
}

.features-panel {
  display: inline-block;
}

.features-panel .ant-card-body {
  padding: 5px;
}